
h1 {
    font-size: 62px;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #26272d;
}


.site-header {
    position: absolute;
    padding: 50px 0 0;
    background-color: transparent;
    width: 100%;
    z-index: 3;
}

.site-title {
    font-size: 18px;
    line-height: 26px;
    color: #26272d;
}

.site-title:hover {
    color: #26272d;   
}

.site-title span {
    font-weight: 700;
}

.site-title a:hover {
    color: #fff;
}

.navbar-collapse {
    text-align: center;
}

.navbar-nav {
    float: none;
    display: inline-block;
}

.navbar-nav > li > a{
    padding: 0;
    font-size: 16px;
    position: relative;
    color: #26272d;
    line-height: 26px;
}

.navbar-nav > li > a i {
    margin-left: 5px;
}

.navbar-nav > li + li {
    margin-left: 30px;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > li.active > a,
.navbar-collapse li a:hover > li a:hover {
    background-color: transparent;
    color: #ffdd00;
}

.hero { 
    background: url(../img/Singapore.jpg) no-repeat center / cover; 
    height: 100%;
    width: 100%;
    display: table;
    position: relative;
}

.overlay:before {
  content: '';
  background-color: rgba(255,255,255,0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.hero-content {
    display: table-cell;
    vertical-align: middle;
    padding-top: 75px;
}

.hero-text {
    max-width: 890px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.hero-text h1 {
    position: relative;
    margin: 0;
}

.section-contact-us h2 {
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 50px;
    letter-spacing: 1px;
}

.section-contact-us .form-group label,
.section-contact-us textarea {
    height: 50px;
}

.section-contact-us .btn {
    margin-top: 25px;
}

.contact-info {
    padding-left: 30px;
}

.contact-info h3 {
    margin-left: 0;
    color: #000000;
    font-size: 16px;
    font-weight: bold; 
}

.contact-info a + h3 {
    margin-top: 30px;
}
.contact-hero {
    background: url(./assets/img/mountainn.jpg) no-repeat center / cover;     
}
.text-center button{
    background-color: rgb(103, 255, 103);
    margin-bottom: 50px;
}
